{"openapi":"3.0.3","info":{"title":"SkillsMP API","description":"OpenAPI specification for the SkillsMP REST API. The MCP server at /mcp uses a separate access and rate-limit policy. Search 2M+ Agent Skills by keyword, filter by category, occupation, and content language.","version":"1.0.0","contact":{"name":"SkillsMP Support","url":"https://skillsmp.com/about"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://skillsmp.com","description":"Production server"}],"paths":{"/api/v1/skills/search":{"get":{"operationId":"searchSkills","summary":"Keyword search Agent Skills","description":"Search Agent Skills by keyword with optional filtering by category, occupation, and content language. Anonymous REST access is configured for 50 requests/day and 10/minute; authenticated REST access is configured for 500 requests/day and 30/minute. These limits do not apply to the MCP server.","tags":["Skills"],"security":[{},{"bearerAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","maxLength":200},"description":"Search query (keyword)"},{"name":"page","in":"query","schema":{"type":"integer","default":1,"minimum":1},"description":"Page number. Requests beyond the queryable result window are canonicalized to its final page."},{"name":"limit","in":"query","schema":{"type":"integer","default":20,"minimum":1,"maximum":50},"description":"Items per page"},{"name":"sortBy","in":"query","schema":{"type":"string","enum":["stars","recent"],"default":"stars"},"description":"Sort order"},{"name":"category","in":"query","schema":{"type":"string"},"description":"Filter by category slug (e.g. data-ai, devops)"},{"name":"occupation","in":"query","schema":{"type":"string"},"description":"Filter by SOC occupation slug (e.g. software-developers)"},{"name":"language","in":"query","schema":{"type":"string","enum":["en","zh","ja","ko","es","pt","de","fr","ar","afr","aka","amh","aze","bel","ben","bul","cat","ces","cym","dan","ell","epo","est","fin","guj","heb","hin","hrv","hun","hye","ind","ita","jav","kan","kat","kaz","khm","lat","lav","lit","mal","mar","mkd","msa","mya","nep","nld","nob","ori","pan","pes","pol","ron","rus","sin","slk","slv","sna","srp","swa","swe","tam","tel","tgl","tha","tuk","tur","ukr","urd","uzb","vie","yid","zul","mul","und"]},"description":"Filter by detected Skill content language. Use an ISO language code such as en, zh, or ja; mul selects mixed-language content and und selects content whose language could not be determined."}],"responses":{"200":{"description":"Successful search response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"skills":{"type":"array","items":{"$ref":"#/components/schemas/Skill"}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer","description":"Exact matching result count when totalIsExact is true; otherwise a proven lower bound within the queryable result window."},"totalPages":{"type":"integer","description":"Exact page count when totalIsExact is true or isCapped is true; otherwise the currently proven page horizon. Follow hasNext to traverse inexact searches."},"hasNext":{"type":"boolean","description":"Whether another queryable result page is known to exist. Use this field to traverse inexact searches."},"hasPrev":{"type":"boolean","description":"Whether a previous result page exists."},"totalIsExact":{"type":"boolean","description":"Whether total and totalPages describe the complete matching result set."},"isCapped":{"type":"boolean","description":"Whether pagination is limited to maxResults even though more matches may exist."},"maxResults":{"type":"integer","description":"Maximum queryable result count when isCapped is true."}}}}},"meta":{"type":"object","properties":{"requestId":{"type":"string"},"responseTimeMs":{"type":"integer"}}}}}}},"headers":{"X-RateLimit-Daily-Limit":{"schema":{"type":"integer"},"description":"Daily request limit"},"X-RateLimit-Daily-Remaining":{"schema":{"type":"integer"},"description":"Remaining daily requests"},"X-RateLimit-Minute-Limit":{"schema":{"type":"integer"},"description":"Configured per-minute REST search limit"},"X-RateLimit-Minute-Remaining":{"schema":{"type":"integer"},"description":"Remaining requests in the current minute window"}}},"400":{"description":"Bad request - missing query or invalid query, page, limit, occupation, or language. Correct the parameters before retrying; unchanged requests should not be retried automatically.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"REST search limit exceeded. DAILY_QUOTA_EXCEEDED resets at 00:00 UTC. RATE_LIMITED indicates the minute limit. Both return Retry-After and X-RateLimit-Reset for the earliest permitted retry; if the attempt also exhausted the daily quota, wait for the daily reset. Request attempts, including invalid parameters and minute-limit rejections, consume daily quota.","headers":{"X-RateLimit-Daily-Limit":{"schema":{"type":"integer"},"description":"Daily request limit for this account or anonymous client"},"X-RateLimit-Daily-Remaining":{"schema":{"type":"integer","example":0},"description":"Daily requests remaining after this attempt"},"X-RateLimit-Minute-Limit":{"schema":{"type":"integer"},"description":"Present when the minute window is exhausted"},"X-RateLimit-Minute-Remaining":{"schema":{"type":"integer","example":0},"description":"Present when the minute window is exhausted"},"Retry-After":{"schema":{"type":"integer","minimum":1},"description":"Seconds until the quota window resets. Present for both daily and minute limits. Wait at least this long before retrying; another request sharing the quota may consume the renewed capacity."},"X-RateLimit-Reset":{"schema":{"type":"integer"},"description":"Unix timestamp in seconds for the quota reset used by Retry-After"},"X-RateLimit-Limit":{"schema":{"type":"integer"},"description":"Limit of the quota window that determines the retry time"},"X-RateLimit-Remaining":{"schema":{"type":"integer","example":0},"description":"Remaining capacity in the quota window that determines the retry time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Search index or rate-limit coordination temporarily unavailable. Retry the request after the indicated delay.","headers":{"Cache-Control":{"schema":{"type":"string","example":"no-store"},"description":"Prevents caches from storing the transient error response."},"Retry-After":{"schema":{"type":"string","example":"60"},"description":"Number of seconds to wait before retrying."}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"searchIndexUnavailable":{"value":{"success":false,"error":{"code":"SEARCH_INDEX_UNAVAILABLE","message":"Search index temporarily unavailable"}}},"rateLimitUnavailable":{"value":{"success":false,"error":{"code":"RATE_LIMIT_UNAVAILABLE","message":"API rate-limit coordination is temporarily unavailable."}}}}}}}}}},"/api/health":{"get":{"operationId":"healthCheck","summary":"Health check","description":"Check API and database availability","tags":["System"],"security":[],"responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"}}}}}},"503":{"description":"Service degraded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"degraded"}}}}}}}}}},"components":{"schemas":{"Skill":{"type":"object","properties":{"id":{"type":"string","description":"Unique skill identifier"},"name":{"type":"string","description":"Skill name"},"author":{"type":"string","description":"GitHub author username"},"description":{"type":"string","description":"Skill description"},"contentLanguage":{"type":"string","enum":["en","zh","ja","ko","es","pt","de","fr","ar","afr","aka","amh","aze","bel","ben","bul","cat","ces","cym","dan","ell","epo","est","fin","guj","heb","hin","hrv","hun","hye","ind","ita","jav","kan","kat","kaz","khm","lat","lav","lit","mal","mar","mkd","msa","mya","nep","nld","nob","ori","pan","pes","pol","ron","rus","sin","slk","slv","sna","srp","swa","swe","tam","tel","tgl","tha","tuk","tur","ukr","urd","uzb","vie","yid","zul","mul","und"],"nullable":true,"example":"en","description":"Detected language of the Skill content. ISO language codes identify a language, mul means mixed-language content, und means the detector could not determine a language, and null means language metadata is unavailable."},"githubUrl":{"type":"string","format":"uri","description":"GitHub repository URL"},"skillUrl":{"type":"string","format":"uri","description":"SkillsMP detail page URL"},"stars":{"type":"integer","description":"GitHub star count"},"updatedAt":{"type":"integer","description":"Last update time (Unix timestamp)"}},"required":["id","name","author","description","githubUrl","skillUrl","stars","updatedAt"]},"Error":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"]}},"required":["success","error"]}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API key","description":"API key obtained from the developer portal"}}},"tags":[{"name":"Skills","description":"Skill discovery and search"},{"name":"System","description":"System health and status"}],"externalDocs":{"description":"Developer Portal","url":"https://skillsmp.com/developers"}}