# Dependencies
node_modules

# Build outputs
.turbo
dist
dist-mobile
out

# Lock files
pnpm-lock.yaml

# Coverage
coverage

# Generated types
*.d.ts
!src/**/*.d.ts

# Manifest (generated)
manifest.json
